@using Book_Store.Models;

@{
    BookContext _db = new BookContext();
    var OrderCount = _db.Orders.Where(c => c.Order_Status == 0).GroupBy(c => c.OrderID).Count();
    var OrderCountShip = _db.Orders.Where(c => c.Order_Status == 1).GroupBy(c => c.OrderID).Count();
}

<!DOCTYPE html>
<html dir="rtl">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <script src="~/Scripts/jquery-3.4.1.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/chosen.jquery.js"></script>

    <link rel="stylesheet" href="~/Content/bootstrap.min.css" />
    <link rel="stylesheet" href="~/Content/chosen.css" />
    
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.2/css/bootstrap.min.css" integrity="sha384-y3tfxAZXuh4HwSYylfB+J125MxIs6mR5FOHamPBG064zB+AFeWH94NdvaCBm8qnd" crossorigin="anonymous">

    <title>الكتبي</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

    <style>
        th {
            text-align: right
        }

        .glass-effect {
            background: linear-gradient(135deg,rgba(255,255,255,0.1),rgba(255,255,255,0));
            -webkit-backdrop-filter: blur(20px);
            backdrop-filter: blur(20px);
            box-shadow: 0 8px 32px 0 rgba(0,0,0,0.37);
            border: 1px solid rgba(255,255,255,0.18);
            border-radius: 5px;
        }
    </style>
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top" style="background-color: #884A39 ">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>

            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav navbar-right">
                    @if (Session["UserName"] != null)
                    {
                        <li>@Html.ActionLink("سعر التوصيل", "Index", "ShippingCosts")</li>
                        <li>@Html.ActionLink("المصنفين", "Index", "Authors")</li>
                        <li>@Html.ActionLink("الأقسام", "Index", "Categories")</li>
                        <li>@Html.ActionLink("دور النشر", "Index", "Publishers")</li>
                        <li>@Html.ActionLink("الكتب", "Index", "Books")</li>
                        <li>@Html.ActionLink("جميع الطلبات", "Index", "Orders")</li>
                    }
                    else
                    {
                        <li>@Html.ActionLink("المصنفين", "UserIndex", "Authors")</li>
                        <li>@Html.ActionLink("الأقسام", "UserIndex", "Categories")</li>
                        <li>@Html.ActionLink("دور النشر", "UserIndex", "Publishers")</li>
                    }
                    @Html.ActionLink("الكُتُبي", "ViewBooks", "Books", new { area = "" }, new { @class = "navbar-brand" })
                </ul>


                <ul class="nav navbar-nav">
                    @if (Session["UserName"] == null)
                    {

                        <li>@Html.ActionLink("تسجيل دخول", "Login", "Users")</li>
                        <li><a href=@Url.Action("ViewCart", "Books")> <span class="glyphicon glyphicon-shopping-cart"> </span> <span class="badge">@Session["Cart"]</span></a></li>
                        <li><a href=@Url.Action("OrderFollowing", "Orders")><span class="glyphicon glyphicon-search"></span> تابع طلبك </a></li>

                    }
                    @if (Session["UserName"] != null)
                    {
                        <li class="dropdown">
                            <a href="#" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"> @Session["UserName"] <span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a href=@Url.Action("Logout" , "Users")>تسجيل خروج</a></li>
                            </ul>
                        </li>
                        <li>
                            <a href=@Url.Action("OrdersToConfirm" , "Orders")>
                                <span class="glyphicon glyphicon-shopping-cart"> </span>@if (OrderCount != 0)
                                {<span class="badge progress-bar-danger">@OrderCount</span>}
                            else
                            {<span class="badge">@OrderCount</span>}
                            </a>
                        </li>
                        <li>
                            <a href=@Url.Action("OrdersToShip" , "Orders")>
                                <span class="glyphicon glyphicon-ok"> </span>@if (OrderCountShip != 0)
                                {<span class="badge progress-bar-danger">@OrderCountShip</span>}
                            else
                            {<span class="badge">@OrderCountShip</span>}
                            </a>
                        </li>

                    }
                </ul>





            </div>
        </div>
    </div>

    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)

</body>
</html>
