<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    @*<script src="~/Scripts/jquery-3.4.1.min.js"></script>
        <script src="~/Scripts/bootstrap.min.js"></script>
        <link rel="stylesheet" href="~/Content/bootstrap.min.css" />*@
    <title>الكتبي</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("الكتبي", "ViewBooks", "Books", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("المصنفين", "Index", "Authors")</li>
                    <li>@Html.ActionLink("الأقسام", "Index", "Categories")</li>
                    <li>@Html.ActionLink("الكتب", "Index", "Books")</li>
                    @if (Session["UserName"] == null)
                    {
                        <li>@Html.ActionLink("Login", "Login", "Users")</li>
                    }
                </ul>

                @if (Session["UserName"] != null)
                {
            <ul class="nav navbar-nav navbar-right">
                <li><a href=@Url.Action("ViewCart" , "Books")> <span class="glyphicon glyphicon-shopping-cart"> </span> <span class="badge">@Session["Cart"]</span></a></li>
                <li class="dropdown">
                    <a href="#" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"> @Session["UserName"] <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href=@Url.Action("Logout" , "Users")>Logout</a></li>
                    </ul>
                </li>
            </ul>
                }




            </div>
        </div>
    </div>

    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
           
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
