@model PagedList.IPagedList<Book_Store.Models.Publisher>
@using PagedList.Mvc;
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />
@{
    ViewBag.Title = "UserIndex";
}
<br />
<hr />
<h1 class="text-center">
    جميع دور النشر
</h1>
<hr />
<br />
@using (Html.BeginForm("UserIndex", "Publishers", FormMethod.Get))
{
    @Html.AntiForgeryToken()
    <div class="row">

        <div class="col">
            <div class="col-md-10">
                @Html.Editor("PublisherName", new { htmlAttributes = new { @class = "form-control", @placeholder = "أدخل اسم دار النشر" } })
            </div>
        </div>
        <br />
        <br />
        <div class="col">
            <div class="col-md-10">
                <button class="btn btn-success" value="Search" type="submit"><i class="fa fa-search" aria-hidden="true"></i> ابحث</button>
            </div>
        </div>

    </div>

}

<br />
<table class="table table-striped">
    <tr>
        <th>
            إسم دار النشر
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                <a href="@Url.Action("AuthorBooks" , "Authors" , new {PID=item.PID})">
                    @Html.DisplayFor(modelItem => item.PName)
                </a>
            </td>
        </tr>
    }

</table>
<div class="text-center">
    @Html.PagedListPager(Model, Page => Url.Action("UserIndex", new { Page }))
</div>