@model PagedList.IPagedList<Book_Store.Models.Publisher>
@using PagedList.Mvc;
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />
@{
    ViewBag.Title = "UserIndex";
}

@using (Html.BeginForm("UserIndex", "Publishers", FormMethod.Get))
{
    @Html.AntiForgeryToken()
    <div class="row">

        <div class="col-md-6">
            <button class="btn btn-primary" value="Search" type="submit">ابحث</button>
        </div>
        <div class="col-md-3">
            @Html.Editor("PublisherName", new { htmlAttributes = new { @class = "form-control", @placeholder = "أدخل اسم دار النشر" } })
        </div>

    </div>

}

<br />
<div class="tablesStyle">
    <table class="table table-hover table-striped">
        <tr>
            <th>
                إسم دار النشر
            </th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    <a href="@Url.Action("PublisherBooks" , "Publishers" , new {PID=item.PID})">
                        @Html.DisplayFor(modelItem => item.PName)
                    </a>
                </td>
            </tr>
        }

    </table>
</div>
<div class="text-center">
    @Html.PagedListPager(Model, Page => Url.Action("UserIndex", new { Page }))
</div>
