@model PagedList.IPagedList<Book_Store.Models.Book>
@using PagedList.Mvc;
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />

@{
    var Category = Model.Select(c => c.Category.CName).FirstOrDefault();
    ViewBag.Title = Category;
}
<style>
    .card:hover {
        transform: scale(1.1);
        z-index: 9;
    }
</style>

<link href="~/Content/Site.css" />

<br />
<h1 class="text-center" style="font-family: 'Reem Kufi', sans-serif; color:whitesmoke">@Category</h1>
<br />

<hr />
<div class="row">
    @foreach (var item in Model)
    {

        <div class="col-sm-4">
            <div class="wrapper">
                <div class="product-img">
                    <a href="@Url.Action("Details" , "Books" , new {id=item.ID})">
                        <img src="@Url.Content(item.image)" height="210" width="163" alt="...">
                    </a>
                </div>
                <div class="product-info">
                    <div class="product-text">
                        <h1 style="font-family: 'Reem Kufi', sans-serif;" class="text-center">@item.title</h1>
                        <h5>
                            المصنف:
                            <a href="@Url.Action("AuthorBooks" , "Authors" , new {AID=item.AID})">
                                @item.Author.FName
                            </a>
                        </h5>
                        <h5>
                            الناشر:
                            <a href="@Url.Action("PublisherBooks" , "Publishers" , new {PID=item.PID})">
                                @item.Publisher.PName
                            </a>
                        </h5>
                        <h5>
                            القسم:
                            <a href="@Url.Action("CategoryBooks" , "Categories" , new {CID=item.CID})">
                                @item.Category.CName
                            </a>
                        </h5>
                        <h5>
                            @item.VolumesNum مجلد
                        </h5>
                        <h5 class="text-danger">
                            <span>@item.Price</span> ج.م
                        </h5>
                    </div>
                    <hr />
                    <div class="product-price-btn">
                        @*<p>متوفر @item.AvailableCopies نسخة</p>*@
                        <a href="@Url.Action("AddToCart" , "Books" , new {id=item.ID})" class="btn btn-primary" role="button">أضف للسلة <span class="glyphicon glyphicon-shopping-cart"></span></a>
                    </div>
                </div>
            </div>

        </div>



    }

</div>
<br />
<div class="text-center">
    @Html.PagedListPager(Model, Page => Url.Action("ViewBooks", new { Page }))
</div>