@model PagedList.IPagedList<Book_Store.Models.Category>
@using PagedList.Mvc;
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />
@{
    ViewBag.Title = "Index";
}

<br />
<div>
    @using (Html.BeginForm("Index", "Categories", FormMethod.Get))
    {
        @Html.AntiForgeryToken()
        <div class="row">
            <div class="col-md-6">
                <button class="btn btn-primary" value="Search" type="submit">ابحث</button>
            </div>
            <div class="col-md-3">
                @Html.Editor("Category", new { htmlAttributes = new { @class = "form-control", @placeholder = "أدخل اسم القسم" } })
            </div>
        </div>

    }
</div>

<br />

<p class="text-center">
    @Html.ActionLink("إضافة قسم جديد", "Create", null, htmlAttributes: new { @class = "btn btn-primary" })
</p>
<div class="tablesStyle">
    <table class="table table-striped table-hover">
        <thead>
            <tr>
                <th>
                    اسم القسم
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.CName)
                    </td>
                    <td>
                        @Html.ActionLink("تعديل", "Edit", new { id = item.CID }, htmlAttributes: new { @class = "btn btn-primary" }) |
                        <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#deleteConfirm_@item.CID">
                            حذف
                        </button>


                        <div class="modal" tabindex="-1" role="dialog" id="deleteConfirm_@item.CID">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title">يرجى الانتباه</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        <p>هل تريد تاكيد حذف قسم: @item.CName ؟</p>
                                    </div>
                                    <div class="modal-footer">
                                        <a href="~/Categories/Delete?id=@item.CID" class="btn btn-primary">تأكيد</a>
                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">إلغاء</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
<div class="text-center">
    @Html.PagedListPager(Model, Page => Url.Action("Index", new { Page }))
</div>