@model PagedList.IPagedList<Book_Store.Models.NotifyOrder>
@using PagedList.Mvc;
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />
@{
    ViewBag.Title = "Index";
}
<br />
<div class="tablesStyle">
    <table class="table">
        <thead>
            <tr>
                <th>
                    اسم العميل
                </th>
                <th>
                    اسم الكتاب
                </th>
                <th>
                    رقم الهاتف
                </th>
                <th>
                    أبلغ العميل عبر الواتساب
                </th>
                <th>
                    
                </th>
            <tr/>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.BookName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.MobileNumber)
                    </td>
                    <td>
                        @{
                            string Message = "مرحبا " + item.Name + "، نود إخبارك بأن كتاب: " + item.BookName + " متوفر لدينا الآن في موقع الكتبي.";
                            var Number = "+20" + item.MobileNumber;
                        }
                        <a href="https://wa.me/@Number?text=@Message" target="_blank">
                            <i class="fa fa-whatsapp notifywhats"></i>
                        </a>
                    </td>
                    <td>
                        <a href="@Url.Action("Notified" , "NotifyOrders" , new {ID=item.ID})" class="btn btn-success" style="color: white; padding: 0; vertical-align:auto;" >تم الإبلاغ</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
<div class="text-center">
    @Html.PagedListPager(Model, Page => Url.Action("Index", new { Page }))
</div>