@model PagedList.IPagedList<Book_Store.Models.NotifyOrder>
@using PagedList.Mvc;
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />
@{
    ViewBag.Title = "Index";
}
<br />
<div class="tablesStyle">
    <table class="table">
        <tr>
            <th>
                اسم العميل
            </th>
            <th>
                اسم الكتاب
            </th>
            <th>
                رقم الهاتف
            </th>
            <th>أبلغ العميل عبر الواتساب</th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.BookName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.MobileNumber)
                </td>
                <td>
                    <p>
                        @{
                            string Message = "مرحبا " + item.Name + "، نود إخبارك بأن كتاب: " + item.BookName + " متوفر لدينا الآن في موقع الكتبي.";
                            var Number = "+2" + item.MobileNumber;
                        }
                        <a href="https://wa.me/@Number?text=@Message" target="_blank">
                            <i class="fa fa-whatsapp Social"></i>
                        </a>
                    </p>
                </td>
                <td>
                    <a href="@Url.Action("Notified" , "NotifyOrders" , new {ID=item.ID})" style="color:white" class="btn btn-success">تم الإبلاغ</a>
                </td>
            </tr>
        }

    </table>
</div>
<div class="text-center">
    @Html.PagedListPager(Model, Page => Url.Action("Index", new { Page }))
</div>