@model Book_Store.Models.Book

@{
    ViewBag.Title = "Details";
}


<br />
<br />
<div class="text-center">
    <div class="row text-center">
        <div>
            <div class="thumbnail">
                <h4 class="text-danger">عدد النسخ المتوفرة:  @Html.DisplayFor(model => model.AvailableCopies)</h4>
                <img src="@Url.Content(Model.image)" width="242" height="200" alt="...">
                <div class="caption">
                    <h2>@Html.DisplayFor(model => model.title)</h2>
                    <h4>@Html.DisplayFor(model => model.Author.FName)</h4>
                    <h5>@Html.DisplayFor(model => model.Category.CName)</h5>
                    <h6>الناشر:  @Html.DisplayFor(model => model.Publisher.PName)</h6>
                    <p>عدد المجلدات:  @Html.DisplayFor(model => model.VolumesNum)<p />
                    <p>السعر:  @Html.DisplayFor(model => model.Price)</p>
                    <h2>@Html.DisplayFor(model => model.description)</h2>
                    <p><a href="@Url.Action("AddToCart" , "Books" , new {id=Model.ID})" class="btn btn-primary" role="button"><span class="glyphicon glyphicon-shopping-cart"></span> إضافة إلى سلة المشتريات</a></p>
                </div>
            </div>
        </div>
    </div>
</div>

