@model PagedList.IPagedList<Book_Store.Models.Book>
@using PagedList.Mvc;
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />
@{
    ViewBag.Title = "Index";
}

<style>
    table, thead, tbody, tr, td, th {
        max-width: 100%;
        padding: 0;
        margin: 0;
    }

    td {
        background-color: aliceblue;
    }

        td > .btn {
            padding: 2px;
            vertical-align: auto;
        }
</style>



@using (Html.BeginForm("Index", "Books", FormMethod.Get))
{
    @Html.AntiForgeryToken()
    <div class="row">
        <div class="form-group col-md-4">
            <div class="col-md-10">
                @Html.DropDownList("CategoryName", ViewData["CategoryNameList"] as SelectList, "اختر القسم", new { @class = "ddlist chosen-select form-control" })
            </div>
        </div>
        <div class="form-group col-md-4">
            <div class="col-md-10">
                @Html.DropDownList("AutherName", ViewData["AutherNameList"] as SelectList, "اختر اسم المصنف", new { @class = "ddlist chosen-select form-control" })
            </div>
        </div>

        <div class="form-group col-md-4">
            <div class="col-md-10">
                @Html.Editor("BookName", new { htmlAttributes = new { @class = "form-control", @placeholder = "أدخل اسم الكتاب", @autoComplete = "on" } })
            </div>
        </div>
    </div>

    <div class="row">

        <div class="form-group col-md-4">
            <div class="col-md-10">

            </div>
        </div>

        <div class="form-group col-md-4">
            <div class="col-md-10">
                <button class="btn btn-primary" value="Search" type="submit">إبحث</button>
            </div>
        </div>

        <div class="form-group col-md-4">
            <div class="col-md-10">
                @Html.DropDownList("PublisherName", ViewData["PublisherNameList"] as SelectList, "اختر دار النشر", new { @class = "form-control ddlist" })
            </div>
        </div>


    </div>

}
<p class="text-center">
    @Html.ActionLink("إضافة كتاب", "Create", null, htmlAttributes: new { @class = "btn btn-primary text-center" })
</p>
<div class="tablesStyle">
    <table class="table">
        <thead>
            <tr>
                <th>صورة الغلاف</th>
                <th>عنوان الكتاب</th>
                <th>المصنف</th>
                <th>القسم</th>
                <th>عدد النسخ</th>
                <th>السعر</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        <img src="@Url.Content(item.image)" width="50" height="70" />
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.title)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Author.FName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Category.CName)
                    </td>
                    <td>
                        <button type="button" class="btn-primary" data-toggle="modal" data-target="#AddCopy_@item.ID">
                            @item.AvailableCopies
                        </button>
                        <div class="modal" tabindex="-1" role="dialog" id="AddCopy_@item.ID">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title">إضافة نسخ لكتاب: @item.title</h5>
                                    </div>
                                    <div class="modal-body">
                                        <form method="post" action="~/Books/AddCopies">
                                            <input hidden name="BookID" value="@item.ID" />
                                            <div class="form-group">
                                                <label for="NumOfCopies">عدد النسخ</label>
                                                <input required name="NumOfCopies" id="NumOfCopies" type="number" class="form-control">
                                            </div>
                                            <button type="submit" class="btn btn-primary">إضافة النسخ</button>
                                        </form>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">إلغاء</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Price)
                    </td>
                    <td>
                        <a style="color:white" href="@Url.Action("edit" , "Books" , new {id=item.ID})" class="btn btn-primary">تعديل</a>

                        <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#deleteConfirm_@item.ID">
                            حذف
                        </button>
                        <div class="modal" tabindex="-1" role="dialog" id="deleteConfirm_@item.ID">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title">يرجى الانتباه</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        <p>هل تريد تاكيد حذف كتاب @item.title ؟</p>
                                    </div>
                                    <div class="modal-footer">
                                        <a href="~/Books/Delete?id=@item.ID" class="btn btn-primary">تأكيد</a>
                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">إلغاء</button>
                                    </div>
                                </div>
                            </div>
                        </div>

                        @if (item.AvailableCopies > 0)
                        {
                            <a style="color:white" href="@Url.Action("CopyPayed", "Books", new { id = item.ID })" class="btn btn-success">تم بيع نسخة</a>
                        }
                    </td>

                </tr>
            }
        </tbody>
    </table>
</div>
<div class="text-center">
    @Html.PagedListPager(Model, Page => Url.Action("Index", new { Page }))
</div>







@*<script>
    $("Input").val(null);
    $("Select").val(null);
</script>*@

<script>
    $(document).ready(function () {
        // $('#AutherName').trigger("chosen:updated");
        $(function () {

            $(".ddlist").chosen({
                disable_search_threshold: 10,

            });
        });
    });
</script>