@model IEnumerable<Book_Store.Models.Book>

@{
    ViewBag.Title = "Index";
}
<br />
<br />
<p>
    @Html.ActionLink("إضافة كتاب", "Create", null, htmlAttributes: new { @class = "btn btn-primary" })
</p>
<table class="table table-striped">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.image)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CID)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.description)
            </td>
            <td>
                <img src="@Url.Content(item.image)" width="50" height="50" />
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Author.FName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Category.CName)
            </td>
            <td>
                <a href="@Url.Action("edit" , "Books" , new {id=item.ID})" class="btn btn-primary">تعديل</a>     
                |
                <a href="@Url.Action("delete" , "Books" , new {id=item.ID})" class="btn btn-danger">حذف</a>
            </td>
        </tr>
    }

</table>
