@model PagedList.IPagedList<Book_Store.Models.Book>
@using PagedList.Mvc;
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />
@{
    ViewBag.Title = "ViewBooks";
}
<style>
    .wrapper:hover {
        transform: scale(1.1);
        z-index: 9;
    }

</style>
<link href="~/Content/Chosen/chosen.min.css" />
<link href="~/Content/Site.css" />



@*<div class="text-center highlighted">
    <h1 class="kotobi ">
        الــــكُتبـي
    </h1>
    <h3 style="font-family: 'Markazi Text', serif; color:wheat; margin:0; margin-left:115px; margin-top:-30px;">
        متجر لببيع الكتب الجديدة والمستعملة
    </h3>
    <br />
</div>*@


@if (ViewBag.message != null)
{
    <div class="alert alert-success text-center" role="alert">
        <h1> @ViewBag.Message</h1>
        @if (ViewBag.OrderID != null)
        {
            <h2>
                كود الطلب: @ViewBag.OrderID <br />
            </h2>
        }
    </div>
}


@using (Html.BeginForm("ViewBooks", "Books", FormMethod.Get))
{
    @Html.AntiForgeryToken()
    <div class="row">
        <div class="form-group col-md-4">
            <div class="col-md-10">
                @Html.DropDownList("CategoryName", ViewData["CategoryNameList"] as SelectList, "اختر القسم", new { @class = "ddlist chosen-select form-control" })
            </div>
        </div>
        <div class="form-group col-md-4">
            <div class="col-md-10">
                @Html.DropDownList("AutherName", ViewData["AutherNameList"] as SelectList, "اختر اسم المصنف", new { @class = "ddlist chosen-select form-control" })
            </div>
        </div>

        <div class="form-group col-md-4">
            <div class="col-md-10">
                @Html.Editor("BookName", new { htmlAttributes = new { @class = "form-control", @placeholder = "أدخل اسم الكتاب", @autoComplete = "on" } })
            </div>
        </div>
    </div>

    <div class="row">

        <div class="form-group col-md-4">
            <div class="col-md-10">

            </div>
        </div>

        <div class="form-group col-md-4">
            <div class="col-md-10">
                <button class="btn btn-primary" value="Search" type="submit">إبحث</button>
            </div>
        </div>

        <div class="form-group col-md-4">
            <div class="col-md-10">
                @Html.DropDownList("PublisherName", ViewData["PublisherNameList"] as SelectList, "اختر دار النشر", new { @class = "form-control ddlist" })
            </div>
        </div>


    </div>

}

@if (ViewBag.NoResult != null)
{
    <div class="text-center">
        <h3>
            @ViewBag.NoResult
        </h3>
    </div>
}
<div class="row">
    @foreach (var item in Model)
    {

<div class="col-sm-4">


    <div class="wrapper">
        <div class="product-img">
            <a href="@Url.Action("Details" , "Books" , new {id=item.ID})">
                <img src="@Url.Content(item.image)" height="210" width="163" alt="...">
            </a>
        </div>
        <div class="product-info">
            <div class="product-text">
                <h1 style="font-family: 'Reem Kufi', sans-serif;" class="text-center">@item.title</h1>
                <br />
                <h5>
                    المصنف:
                    <a href="@Url.Action("AuthorBooks" , "Authors" , new {AID=item.AID})">
                        @item.Author.FName
                    </a>
                </h5>
                <h5>
                    الناشر:
                    <a href="@Url.Action("PublisherBooks" , "Publishers" , new {PID=item.PID})">
                        @item.Publisher.PName
                    </a>
                </h5>
                <h5>
                    القسم:
                    <a href="@Url.Action("CategoryBooks" , "Categories" , new {CID=item.CID})">
                        @item.Category.CName
                    </a>
                </h5>
                <h5 class="text-danger">
                    <span>@item.Price</span> ج.م
                </h5>
            </div>
            <br />
            <div class="product-price-btn" style="text-align:center">       
                <a href="@Url.Action("AddToCart" , "Books" , new {id=item.ID})" role="button"><span class="glyphicon glyphicon-shopping-cart"></span></a>
            </div>
        </div>
    </div>

</div>



}

</div>
<div class="text-center">
    @Html.PagedListPager(Model, Page => Url.Action("ViewBooks", new { Page }))
</div>

<script src="~/Scripts/chosen.jquery.js"></script>
<script>
    $("Input").val(null);
    $("Select").val(null);
</script>
<script src="~/Scripts/chosen.jquery.min.js"></script>
<script>
    //$(document).ready(function () {
    //    $('#AutherName').trigger("chosen:updated");
    //    $(function () {

    //        $(".ddlist").chosen({
    //            disable_search_threshold: 10,

    //        });
    //    });
    //});
</script>