@model PagedList.IPagedList<Book_Store.Models.Book>
@using PagedList.Mvc;

@{
    ViewBag.Title = "ViewBooks";
}

<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />
<link href="~/Content/Site.css" />

<style>
    .product:hover {
        transform: scale(1.1);
        z-index: 9;
    }
</style>


<br />
@if (ViewBag.message != null)
{
    <div class="alert alert-success text-center" role="alert">
        <h1> @ViewBag.Message</h1>
        @if (ViewBag.OrderID != null)
        {
            <h2>
                كود طلبك: @ViewBag.OrderID <br />
            </h2>
        }
    </div>
}



<br />
<h1 class="text-center">الكُــــــتُبي</h1>
<br />
<h4 class="text-center">
    متجر الكتبي لبيع الكتب الجديدة والمستعملة
</h4>

<hr />

@using (Html.BeginForm("ViewBooks", "Books", FormMethod.Get))
{
    @Html.AntiForgeryToken()
    <div class="row">
        <div class="form-group col-md-4">
            <div class="col-md-10">
                @Html.DropDownList("CategoryName", ViewData["CategoryNameList"] as SelectList, "اختر القسم", new { @class = "ddlist chosen-select form-control" })
            </div>
        </div>
        <div class="form-group col-md-4">
            <div class="col-md-10">
                @Html.DropDownList("AutherName", ViewData["AutherNameList"] as SelectList, "اختر اسم المصنف", new { @class = "ddlist chosen-select form-control" })
            </div>
        </div>

        <div class="form-group col-md-4">
            <div class="col-md-10">
                @Html.Editor("BookName", new { htmlAttributes = new { @class = "form-control", @placeholder = "أدخل اسم الكتاب", @autoComplete = "on" } })
            </div>
        </div>
    </div>

    <div class="row">

        <div class="form-group col-md-4">
            <div class="col-md-10">

            </div>
        </div>

        <div class="form-group col-md-4">
            <div class="col-md-10">
                <button class="btn btn-success" value="Search" type="submit"><i class="fa fa-search" aria-hidden="true"></i> ابحث</button>
            </div>
        </div>

        <div class="form-group col-md-4">
            <div class="col-md-10">
                @Html.DropDownList("PublisherName", ViewData["PublisherNameList"] as SelectList, "اختر دار النشر", new { @class = "ddlist form-control" })
            </div>
        </div>


    </div>

}

<hr />
@if (ViewBag.NoResult != null)
{
    <div class="text-center">
        <h3>
            @ViewBag.NoResult
        </h3>
    </div>
}


<div class="row">
   
    @foreach (var item in Model)
    {
       
        <div class="col-sm-4" style="margin-bottom:20px">
           
                <div class="wrapper">
                    <div class="product-img">
                        <img src="http://bit.ly/2tMBBTd" height="210" width="163">
                    </div>
                    <div class="product-info">
                        <div class="product-text">
                            <h1>Harvest Vase</h1>
                            <h2>by studio and friends</h2>
                            <p>Harvest Vases are a reinterpretation<br> of peeled fruits and vegetables as<br> functional objects. The surfaces<br> appear to be sliced and pulled aside,<br> allowing room for growth. </p>
                        </div>
                        <div class="product-price-btn">
                            <p><span>78</span>$</p>
                            <button type="button">buy now</button>
                        </div>
                    </div>
                </div>         
        </div>
        
    }
</div>

<div class="text-center">
    @Html.PagedListPager(Model, Page => Url.Action("ViewBooks", new { Page }))
</div>



<script src="~/Scripts/chosen.jquery.js"></script>
<script>
    $(function () {
        //   normal dropdown
        $(".ddlist").chosen({
            //  disable_search_threshold: 1
        });
    });
</script>