@model PagedList.IPagedList<Book_Store.Models.Book>
@using PagedList.Mvc;

@{
    ViewBag.Title = "ViewBooks";
}

<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />
<style>
    .card:hover {
        transform: scale(1.1);
        z-index: 9;
    }

<link href="~/Content/Site.css" />



@*<div class="text-center highlighted">
    <h1 class="kotobi ">
        الــــكُتبـي
    </h1>
    <h3 style="font-family: 'Markazi Text', serif; color:wheat; margin:0; margin-left:115px; margin-top:-30px;">
        متجر لببيع الكتب الجديدة والمستعملة
    </h3>
    <br />
</div>*@


@if (ViewBag.message != null)
{
    <div class="alert alert-success text-center" role="alert">
        <h1> @ViewBag.Message</h1>
        @if (ViewBag.OrderID != null)
        {
            <h2>
                كود الطلب: @ViewBag.OrderID <br />
            </h2>
        }
    </div>
}


@using (Html.BeginForm("ViewBooks", "Books", FormMethod.Get))
{
    @Html.AntiForgeryToken()
    <div class="row">
        <div class="form-group col-md-4">
            <div class="col-md-10">
                @Html.DropDownList("CategoryName", ViewData["CategoryNameList"] as SelectList, "اختر القسم", new { @class = "ddlist chosen-select form-control" })
            </div>
        </div>
        <div class="form-group col-md-4">
            <div class="col-md-10">
                @Html.DropDownList("AutherName", ViewData["AutherNameList"] as SelectList, "اختر اسم المصنف", new { @class = "ddlist chosen-select form-control" })
            </div>
        </div>

        <div class="form-group col-md-4">
            <div class="col-md-10">
                @Html.Editor("BookName", new { htmlAttributes = new { @class = "form-control", @placeholder = "أدخل اسم الكتاب", @autoComplete = "on" } })
            </div>
        </div>
    </div>

    <div class="row">

        <div class="form-group col-md-4">
            <div class="col-md-10">

            </div>
        </div>

        <div class="form-group col-md-4">
            <div class="col-md-10">
                <button class="btn btn-primary" value="Search" type="submit">إبحث</button>
            </div>
        </div>

        <div class="form-group col-md-4">
            <div class="col-md-10">
                @Html.DropDownList("PublisherName", ViewData["PublisherNameList"] as SelectList, "اختر دار النشر", new { @class = "form-control ddlist" })
            </div>
        </div>


    </div>

}

@if (ViewBag.NoResult != null)
{
    <div class="text-center" style="color: white; font-family: 'Lateef', serif;">
        <h1>
            @ViewBag.NoResult
        </h1>
        <br />
        <br />
    </div>
}


<div class="row">
   
    @foreach (var item in Model)
    {

        <div class="col-sm-4">
            <div class="product">
                <div class="product__photo">
                    <div class="photo-container">
                        <div class="photo-main">
                            <a href="@Url.Action("Details" , "Books" , new {id=item.ID})">
                                <img src="@Url.Content(item.image)" alt="...">
                            </a>
                        </div>
                    </div>
                </div>
                <div class="product__info">
                    <div class="title">
                        <h1>@item.title</h1>
                    </div>
                    <div class="price">
                        <span>@item.Price</span> <br /> جنيه مصري
                    </div>
                    <div class="description">

                        @*<li>@item.description</li>*@
                        <h4>
                            دار النشر:
                            <a href="@Url.Action("PublisherBooks" , "Publishers" , new {PID=item.PID})">
                                @item.Publisher.PName
                            </a>
                        </h4>
                        <h4>
                            المصنف:
                            <a href="@Url.Action("AuthorBooks" , "Authors" , new {AID=item.AID})">
                                @item.Author.FName
                            </a>
                        </h4>
                        <h4>
                            القسم:
                            <a href="@Url.Action("CategoryBooks" , "Categories" , new {CID=item.CID})">
                                @item.Category.CName
                            </a>
                        </h4>
                        <h4>عدد المجلدات: @item.VolumesNum</h4>
                        <h4>عددالنسخ المتوفرة: @item.AvailableCopies</h4>
                    </div>
                    <a href="@Url.Action("AddToCart" , "Books" , new {id=item.ID})" class="btn buy--btn" role="button"><span class="glyphicon glyphicon-shopping-cart"></span> إضف للسلة</a>
                </div>
            </div>
        </div>



    }

<div class="text-center">
    @Html.PagedListPager(Model, Page => Url.Action("ViewBooks", new { Page }))
</div>

<script src="~/Scripts/chosen.jquery.js"></script>
<script>

    $(function () {
        //   normal dropdown
        $(".ddlist").chosen({
            //  disable_search_threshold: 1
        });
    });
</script>