@model Book_Store.Models.User

@{
    ViewBag.Title = "Login";
}

<style>
    .text-danger {
        color: greenyellow;
    }
</style>

<br />
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal Amiri">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })


        <div class="form-group">
            @*@Html.LabelFor(model => model.EMAIL, htmlAttributes: new { @class = "control-label " })*@
            <div class="col-md-10">
                @Html.EditorFor(model => model.UserName, new { htmlAttributes = new { @class = "form-control", @placeholder = "اسم المستخدم" } })
                @Html.ValidationMessageFor(model => model.UserName, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @*@Html.LabelFor(model => model.Password, htmlAttributes: new { @class = "control-label " })*@
            <div class="col-md-10">
                @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "form-control", @placeholder = "رمز المرور" } })
                @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
            </div>
        </div>



        <div class="form-group">
            <div class=" col-md-10">
                <input type="submit" value="تسجيل دخول" class="btn btn-primary" />
                <br /><br />
                <p style="color:greenyellow;font-size:14px"> @ViewBag.error</p>
            </div>
        </div>
    </div>
}
<div class="text-center" style="height:150px">
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
