@model PagedList.IPagedList<Book_Store.Models.Order>
@using PagedList.Mvc;
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />
@{
    ViewBag.Title = "Index";
}
<br />
@using (Html.BeginForm("Index", "Orders", FormMethod.Get))
{
    @Html.AntiForgeryToken()
<div class="row">

    <div class="col-md-6">
        <button class="btn btn-primary" value="Search" type="submit">ابحث</button>
    </div>
    <div class="col-md-3">
        @Html.Editor("ID", new { htmlAttributes = new { @class = "form-control", @placeholder = "أدخل كود الطلب" } })
    </div>
    <div class="col-md-3">
        @Html.Editor("Coupon", new { htmlAttributes = new { @class = "form-control", @placeholder = "أدخل كود الخصم" } })
    </div>
</div>

}

<br />
<div class="tablesStyle">
    <table class="table table-hover">
        <tr>
            <th>
                إسم العميل
            </th>
            <th>
                عنوان العميل
            </th>
            <th>
                رقم العميل
            </th>
            <th>
                كود الطلب
            </th>
            <th>
                حالة الطلب
            </th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Adress)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.MobileNumber)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.OrderID)
                </td>
                <td>
                    @if (item.Order_Status == 0)
                    {
                        <p>
                            معلّق
                        </p>
                    }
                    @if (item.Order_Status == 1)
                    {
                        <p>
                            مؤكد
                        </p>
                    }
                    @if (item.Order_Status == 2)
                    {
                        <p>
                            شُحِن
                        </p>
                    }
                </td>
            </tr>
        }

    </table>
</div>
<div class="text-center">
    @Html.PagedListPager(Model, Page => Url.Action("Index", new { Page }))
</div>